{% for topKnowledge in topKnowledges %}
<tr>
  <td>1.</td>
  <td>{{topKnowledge.title}}</td>
  <td><span class="badge bg-red"><i class="fa fa-fw fa-heart"></i>{{topKnowledge.likeNum}}</span></td>
</tr>
{% endfor %}