<html>
<div class="box">
<div class="box-header">
  <h3 class="box-title">榜单</h3>

  <div class="box-tools">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li class="active" id="score-user" data-url="{{path('top_user')}}" data-type="score"><a href="#">积</a></li>
      <li id="knowledge-user" data-url="{{path('top_user')}}" data-type="knowledge"><a href="#">享</a></li>
      <li id="browse-user" data-url="{{path('top_user')}}" data-type="browse"><a href="#">读</a></li>
    </ul>
  </div>
</div>
<!-- /.box-header -->
<div class="box-body no-padding">
  <table class="table">
    {% include "AppBundle:TopList:top-user-list.html.twig" %}
  </table>
</div>
<!-- /.box-body -->
</div>
<script src="{{ asset('bundles/app/js/toplist/toplist.js') }}"></script>
</html>