{# {% for topTopic in topTopics %}
<tr>
  <td>{{loop.index}}</td>
  <td>{{topTopic.name}}</td>
  <td>{% if type == 'follow' %}<span class="badge bg-red"><i class="fa fa-fw fa-heart"></i>{{topTopic.followNum}}{% else %}<span class="badge bg-greed"><i class="fa fa-fw fa-file-o"></i>{{topTopic.knowledgeNum}}{% endif %}</span></td>
</tr>
{% endfor %} #}