<div class="news-list">
  <div class="news-info col-xs-12 col-sm-12 col-md-11">
    <dl>
      <dd>
          <h3 class="box-title"><a href="javascript:;">{{ theme.name }}</a></h3>
          <span class="time">
            创建日期:{{ theme.createdTime }}
          </span>
      </dd>
    </dl>
    <div class="news_bot col-sm-7 col-md-8">
      <span class="look">
        <a class="pull-center" id="follow-btn" data-url="{{ path('theme_follow', {id:theme.id}) }}" {% if theme.hasFollowed is defined and theme.hasFollowed%}style="display:none"{% endif %}><i class="fa fa-fw fa-heart-o"></i>2555</a>
        <a class="pull-right" id="unfollow-btn" data-url="{{ path('theme_unfollow', {id:theme.id}) }}" {% if theme.hasFollowed is defined and not theme.hasFollowed%}style="display:none"{% endif %}><i class="fa fa-fw fa-heart"></i>2555</a>
      </span>
    </div>
  </div>
</div>