<div class="news-list">
  <div class="news-info col-xs-12 col-sm-12 col-md-11">
    <dl>
      <dd>
          <h3 class="box-title"><a href="javascript:;">{{ theme.name }}</a></h3>
          <span class="time">
            创建日期:{{ theme.createdTime }}
          </span>
      </dd>
    </dl>
    <div class="news_bot col-sm-7 col-md-8">
      <span class="look">
        <i class="fa fa-star-o"></i><strong title="收藏" style="cursor: pointer"> 2126 </strong>
      </span>
    </div>
  </div>
</div>