{% extends 'TopxiaWebBundle::base.html.twig' %}
{% set loadjs = {'site':'default.js'} %}
  {% if loadjs is defined and not null %}
    {% block javascripts %}
      <script src="{{ asset('bundles/topxiaweb/js/default.js') }}"></script>
    {% endblock %}
  {% endif %}
{% block navTabs %}
  <ul class="nav nav-tabs">
    <li role="newknowledge" class="active"><a href="#profile" aria-controls="newknowledge" role="tab" data-toggle="tab">我的分享</a></li>
    <li role="myconcern"><a href="#timeline" aria-controls="myconcern" role="tab" data-toggle="tab">收藏</a></li>
    <li role="theme"><a href="#theme" aria-controls="theme" role="tab" data-toggle="tab">关注</a></li>
  </ul>
{% endblock %}
{% block leftaside %}
  {% include 'TopxiaWebBundle::left-aside.html.twig' %}
{% endblock %}
{% block content %} 
{% if shareKnowledges %} 
  {% for shareKnowledge in shareKnowledges %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><a href="#">{{shareKnowledge.title}}</a>&nbsp&nbsp{% if shareKnowledge.type == 'file' %}<i class="fa fa-sticky-note-o"></i>{% else %}<i class="fa fa-link"></i>{% endif %}
        </h4>
      </div>
      <div class="panel-body">
        {{shareKnowledge.summary}}
        <div class="col-md-offset-9">
          <button type="button" class="btn btn-default">编辑</button>
          <button type="button" class="btn btn-primary">删除</button>
        </div>
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="panel-title"><h4 align="center">暂无分享记录</h4></div>
{% endif %}
{% endblock %}