{% extends 'TopxiaWebBundle::base.html.twig' %}

{% block base_content %} 
  <div class="content">
    <div class="content-block new-content">
      {% block navTabs %}
        {% include 'TopxiaWebBundle::knowledge-library-nav.html.twig' %}
      {% endblock %}
      <div class="row">
        {% if shareKnowledges %} 
          {% for shareKnowledge in shareKnowledges %}                
            <div class="news-list">
              <div class="news-info col-xs-12 col-sm-12 col-md-11">
                <dl>
                  <dt>
                    <a href="#">{{shareKnowledge.title}}&nbsp&nbsp{% if shareKnowledge.type == 'file' %}
                    <i class="fa fa-sticky-note-o"></i>{% else %}<i class="fa fa-link"></i>{% endif %}
                    </a>
                  </dt>
                  <dd class="text">{{shareKnowledge.summary}}</dd>
                </dl>
                <div class="col-md-offset-9">
                  <button type="button" class="btn btn-default">编辑</button>
                  <button type="button" class="btn btn-primary">删除</button>
                </div>
              </div>
            </div>  
          {% endfor %}
        {% else %}
          <div class="panel-title">
            <h4 align="center">---暂无分享记录---</h4>
          </div>
        {% endif %}
      </div>
      <div class="quotes" style="margin-top:15px">
        <span class="disabled">首页</span>
        <span class="disabled">上一页</span>
        <span class="current">1</span>
        <a href="index.html">2</a>
        <a href="index.html">下一页</a>
        <a href="index.html">尾页</a></div>
      </div>
    </div>
  </div>  
{% endblock %}
{% block aside %}
  {% include 'TopxiaWebBundle::aside.html.twig' %}
{% endblock %}