<aside class="left-side">
    <div class="navigation">
        <ul class="nav nav-pills nav-stacked ">
          <li role="presentation" class="text-center active" data-toggle="tab"><a href="#">知识广场</a></li>
          <li role="presentation" class="text-center" data-toggle="tab"><a href="#">我的知识库</a></li>
        </ul>
    </div>
</aside>