<aside class="left-side">
    <div class="navigation">
        <ul class="nav nav-pills nav-stacked ">
          <li role="presentation" class="text-center" data-toggle="tab"><a href="#"><i class="fa fa-book"></i><span>知识广场</span></a></li>
          <li role="presentation" class="text-center" data-toggle="tab"><a href="#"><i class="fa fa-child"></i> <span>我的知识库</span></a></li>
        </ul>
    </div>
</aside>