<aside class="left-side">
    <section class="sidebar" style="height: auto;">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li><a href="#"><i class="fa fa-book"></i> <span>知识广场</span></a></li>
            <li><a href="#"><i class="fa fa-child"></i> <span>我的知识库</span></a></li>
        </ul>
    </section>
</aside>