
<!DOCTYPE html>
<html>
<head>
   <title>Bootstrap 实例 - 模态框（Modal）插件</title>
   <link rel="stylesheet" href="{{ asset('assets/css/vendor.css') }}">
   <script src="{{ asset('assets/js/vendor.js') }}"></script>
</head>
<body>

<h2>创建模态框（Modal）</h2>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal" 
   data-target="#myModal">
   开始演示模态框
</button>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               上传文档
            </h4>
         </div>
        <div class="modal-body">
            选择文档上传：<input type="file" name="file" size="10" input enctype="multipart/form-data" maxlength="100"></br>
            标题：<input type="text" name="..." placeholder="标题"></br>
            <p style="float:left;">摘要：</p><textarea rows="5" cols="20" placeholder="摘要"></textarea>
        </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
               添加
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
</body>
</html>