<header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>Te</b>am</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>知识分享</b>系统</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-plus"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#" class="btn btn-lg" data-toggle="modal" data-target="#docModal">文档</a></li>
                        <li><a href="#" class="btn btn-lg" data-toggle="modal" data-target="#linkModal">链接</a></li>
                    </ul>
                    </a>
                </li>
                <li>
                    <select class="form-control select-theme">
                        <option value="">主题</option>
                        <option value="default">标签</option>
                        <option value="weibo">分享者</option>
                    </select>
                </li>
                <li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                        </div>
                    </form>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset('bundles/topxiaweb/img/user.jpg') }}" class="user-image" alt="User Image">
                        <span class="hidden-xs">邢晋刚</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{ asset('bundles/topxiaweb/img/user.jpg') }}" class="img-circle" alt="User Image">

                            <p>
                                邢晋刚
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <i class="fa fa-thumbs-up"></i>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <i class="fa  fa-graduation-cap"></i>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">设置</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">退出</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="control-sidebar">榜单</a>
                </li>
            </ul>
        </div>
    </nav>
</header>