<ul class="nav nav-tabs">
  <li role="share" class="active"><a href="{{path('my_knowledge_share')}}">我的分享</a></li>
  <li role="myconcern"><a href="{{path('my_knowledge_share')}}">我的收藏</a></li>
  <li role="topic"><a href="{{path('my_knowledge_share')}}">我的关注</a></li>
</ul>