<ul class="nav nav-tabs">
  <li role="share" class="active"><a href="{{path('my_knowledge_share')}}" aria-controls="share-knowledge" role="tab" data-toggle="tab">我的分享</a></li>
  <li role="myconcern"><a href="#timeline" aria-controls="myconcern" role="tab" data-toggle="tab">收藏</a></li>
  <li role="topic"><a href="#topic" aria-controls="topic" role="tab" data-toggle="tab">关注</a></li>
  <li role="search" style="margin-left:233px">
    <form class="navbar-form" action="{{ path('my_knowledge_share_search') }}" method="get" >
        <div class="form-group">
          <input class="form-control" placeholder="输入关键字检索" name="q">
        <button class="btn btn-default"><i class="fa fa-fw  fa-search"></i></button>
        </div>
      </form>
  </li>
</ul>