<ul class="nav nav-tabs">
  <li role="share" class="active"><a href="{{path('knowledge_share_list')}}" aria-controls="share-knowledge" role="tab" data-toggle="tab">我的分享</a></li>
  <li role="myconcern"><a href="#timeline" aria-controls="myconcern" role="tab" data-toggle="tab">收藏</a></li>
  <li role="topic"><a href="#topic" aria-controls="topic" role="tab" data-toggle="tab">关注</a></li>
</ul>