<ul class="nav hidden-xs-nav">
    <li class="active"><a href="{{path('homepage')}}"><i class="fa fa-book"></i>&nbsp;&nbsp;</span>知识广场</a></li>
    <li><a href="{{path('knowledge_share_list')}}"><i class="fa fa-child"></i>&nbsp;&nbsp;</span>我的知识库</a></li>
</ul>
<div class="feeds">
    <li>
        <a class="feed feed-xlweibo" href="index.html" target="_blank"><i></i>阔知大学</a>
    </li>
    <li>
        <a class="feed feed-txweibo" href="index.html" target="_blank"><i></i>气球鱼学院</a>
    </li>
    <li>
        <a class="feed feed-rss" href="index.html" target="_blank"><i></i>订阅本站</a>
    </li>
    <li>
        <a class="feed feed-weixin"><i></i>EDUSOHO</a>
    </li>
</div>
<div class="wall"><a href="readerWall.html" target="_blank">读者墙</a> | <a href="tags.html" target="_blank">标签云</a></div>