<aside class="control-sidebar control-sidebar-dark control-sidebar-open">
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active">
      <a href="#control-sidebar-theme-tab" data-toggle="tab" aria-expanded="true">主题
      </a>
    </li>
    <li class="">
      <a href="#control-sidebar-knowledge-tab" data-toggle="tab" aria-expanded="false">知识</a>
    </li>
    <li class="">
      <a href="#control-sidebar-user-tab" data-toggle="tab" aria-expanded="false">用户</a>
    </li>
  </ul>
{#   theme #}
    <div class="tab-content">
      <div class="tab-pane active" id="control-sidebar-theme-tab">
        <ul class="control-sidebar-menu">
          <li>
            <a href="#">
              <div class="menu-info">
                <h2 class="control-sidebar-subheading">主题榜单</h2>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="menu-info">
                <h2 class="control-sidebar-subheading">主题榜单</h2>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="menu-info">
                <h2 class="control-sidebar-subheading">主题榜单</h2>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="menu-info">
                <h2 class="control-sidebar-subheading">主题榜单</h2>
              </div>
            </a>
          </li>
        </ul>
      </div>
{# knowledge #}
      <div class="tab-pane" id="control-sidebar-knowledge-tab">
        <ul class="control-sidebar-menu">
          <li>
            <a href="#">
              <div class="menu-info">
                <h2 class="control-sidebar-subheading">知识榜单</h2>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="menu-info">
                <h2 class="control-sidebar-subheading">知识榜单</h2>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="menu-info">
                <h2 class="control-sidebar-subheading">知识榜单</h2>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="menu-info">
                <h2 class="control-sidebar-subheading">知识榜单</h2>
              </div>
            </a>
          </li>
        </ul>
      </div>
{# user #}
      <div class="tab-pane" id="control-sidebar-user-tab">
        <ul class="control-sidebar-menu">
          <li>
            <a href="#">
              <div class="menu-info">
                <h2 class="control-sidebar-subheading">用户榜单</h2>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="menu-info">
                <h2 class="control-sidebar-subheading">用户榜单</h2>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="menu-info">
                <h2 class="control-sidebar-subheading">用户榜单</h2>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="menu-info">
                <h2 class="control-sidebar-subheading">用户榜单</h2>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
</aside>