{% extends 'AppBundle::base.html.twig' %}
{% block base_content %}
    <div class="content">
        <div class="content-block new-content">
            {% block navTabs %}
            <br>
            {% endblock %}
            <div class="row" id="follow-knowledge-list">
                {% if followKnowledges is defined and followKnowledges %}
                    {% for followKnowledge in followKnowledges %}
                        {% if followKnowledge.toread is not defined %}
                            {% set user = users[followKnowledge.userId]|default(null) %}
                            {% include "AppBundle:Follow:single-follow-knowledge.html.twig" %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="panel-title"><h4 align="center">---暂无分享记录---</h4></div>
                {% endif %}
            </div>
            {# {{ web_macro.paginator(paginator) }} #}
        </div>
    </div>
{% endblock %}
{% block aside %}
    {% include 'AppBundle::aside.html.twig' %}
{% endblock %}