<form method="post" action="">
	<div class="input-group margin">
		<input type="text" class="form-control" name="comment">
	    <span class="input-group-btn">
	      <button type="botton" id="comment" class="btn btn-info btn-flat" data-url="{{ path('knowledge_add_comment') }}" data-id="{{ user.name }}">评论</button>
	    </span>
	</div>
</form>
<script src="{{ asset('bundles/topxiaweb/js/knowledge/comment.js') }}"></script>