<div class="box box-widget">
    <div class="box-header with-border">
        <div class="user-block">
            <p>
                {{ konwledge.title }}
                <span class="text-muted pull-right detail-date">分享日期:{{ konwledge.createdTime }}</span>
                <span class="text-muted pull-right detail-username username">分享者:{{ user.name }}</span>
            </p>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <!-- post text -->
        <p>
            {{ konwledge.summary }}
        </p>
        <!-- Social sharing buttons -->
        <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
        <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
    </div>
    <!-- /.box-body -->
</div>